:root {
    --deg: 1;
    --x: -50%;
    --y: -50%;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 19px;
  }
@supports (font-variation-settings: normal) {
:root { font-family: InterVariable, sans-serif; }
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: absolute;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

b {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

/* LEFT SIDE COLUMN */




#menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
    font-weight: 600;
    padding-bottom: 3px;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}


#menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}


#menu a:hover {
    color: rgba(255, 255, 255, 0.9);
}

#menu a:hover::before {
    width: 100%;
}


#menu a.active-page {
    color: rgba(255, 255, 255, 0.9);
}

#menu a.active-page::before {
    width: 100%;
}

#navigation {
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    height: 88vh;
}

.nav-block p {
    max-width: 70%;
}

.nav-block-1 {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.nav-block-2 ol {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.non-active-page {
    color: rgba(255, 255, 255, 0.6);
}
.non-active-page:hover {
    color: rgba(255, 255, 255, 0.9);
}
.active-page {
    color: rgba(255, 255, 255, 0.9);
}


.font-bold {
    font-weight: 700;
}


#socials{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icons {
    width: 25px;
    opacity: 0.8;
}

.icons:hover {
    opacity: 1;
}

/* RIGHT SIDE COLUMN */


main {
    padding-bottom: 50px;
}

#experiences {
    padding: 10px;
}

.group-list {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;

}

.group-list ol {
    padding: 0;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    gap: 30px;
    flex-wrap: nowrap;
    height: auto;
    box-sizing: border-box;
}

.experience-container:hover {
    background-color: rgba(28, 42, 75, 0.3);
    cursor: pointer;
}

.experience-container p {
    font-size: 0.7rem;
}

.left-side {
    width: 25%;
    max-width: 25%;
}

.experience-content {
    flex-grow: 1;
    max-width: 75%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.experience-content .description {
    margin-top: 5px;
    margin-bottom: 20px;
}

.title p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8rem;
    font-weight: 500;
}

.tecnologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tecnology {
    background-color: rgba(127, 255, 212, 0.215);
    color: aquamarine;
    font-size: 0.7rem;
    padding: 5px 15px;
    border-radius: 20px;
}

/* PROJECTS */

#projects {
    margin-top: 100px;
}

.left-side img {
    margin-top: 5px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* FOOTER */

footer {
    margin-top: 100px;
}

footer p {
    font-size: 0.7rem;
}

/* WEB PAGE */

#animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(15, 23, 42);
    transition: background-position 0.2s ease-out;
}

#web-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sections-title {
    margin: 75px 0;
    color: rgba(255, 255, 255, 0.8)
}

.content-center {
    width: 50%;
    min-width: 900px;
    margin: 0 auto;
}

.contents {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 25px;
}

header {
    width: 100%;
    top: 5%;
    position: sticky;
    height: fit-content;
}
main {
    width: 100%;
    margin-top: 7%;
    overflow-y: auto;
}



/* PER MOBILE */

@media (max-width: 768px) {
    body {
        width: 100%;
        margin: 0 auto;
    }


    .content-center {
        width: 90%;
        margin: 0 auto;
    }

    #menu {
        display: none;
    }

    .contents {
        flex-direction: column;
        align-items: center;
    }


    .content-center {
        width: 80%;
    }

    .experience-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0;
    }

    .left-side img {
        width: 250px;
    }

    .experience-content {
        width: 100%;
        max-width: fit-content;
        box-sizing: border-box;
    }

  
    #socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding-left: 10px;
    }


    .icons {
        width: 30px;
        opacity: 1;
    }

    header {
        text-align: center;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    #about {
        margin: 0;
    }

    .mobile-title {
        margin-top: 30px;
    }

    .sections-title {
        margin: 70px 0;
    }


    .experience-container {
        padding: 10px;
    }

    footer p {
        text-align: center;
    }

    #navigation {
        height: fit-content;
        margin-top: 30px;
    }
    header {
        position: relative;
        margin-top: 20px;
    }

    .nav-block-1, #socials {
        align-items: flex-start;
        text-align: left;
    }
}