:root {
    --deg: 1;
    --x: -50%;
    --y: -50%;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 19px;
  }
@supports (font-variation-settings: normal) {
:root { font-family: InterVariable, sans-serif; }
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(15, 23, 42);
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

b {
    color: rgba(255, 255, 255, 0.9);
}

/* LEFT SIDE COLUMN */

#navigation {
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    height: 85vh;
}

.nav-block p {
    max-width: 70%;
}

.nav-block-1 {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.nav-block-2 ol {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.non-active-page {
    color: rgba(255, 255, 255, 0.6);
}
.non-active-page:hover {
    color: rgba(255, 255, 255, 0.9);
}
.active-page {
    color: rgba(255, 255, 255, 0.9);
}


.font-bold {
    font-weight: 700;
}


#socials{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icons {
    width: 25px;
    opacity: 0.8;
}

.icons:hover {
    opacity: 1;
}

/* RIGHT SIDE COLUMN */

main {
    height: 200vh;
}

.text-description {
    margin-bottom: 70px;
}

#experiences {
    padding: 10px;
}

.group-list {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;

}

.group-list ol {
    padding: 0;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
    box-sizing: border-box;
}

.experience-container:hover {
    background-color: rgba(28, 42, 75, 0.3);
    cursor: pointer;
}

.experience-container p {
    font-size: 0.7rem;
}

.data-experience {
    max-width: 20%;
}

.experience-content {
    flex-grow: 1;
    max-width: 75%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.experience-content .description {
    margin-top: 5px;
    margin-bottom: 20px;
}

.title p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8rem;
    font-weight: 500;
}

.tecnologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tecnology {
    background-color: rgba(127, 255, 212, 0.215);
    color: aquamarine;
    font-size: 0.7rem;
    padding: 5px 15px;
    border-radius: 20px;
}

/* FOOTER */

footer p {
    font-size: 0.7rem;
}

/* WEB PAGE */

#web-page {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 23, 42);
    display: flex;
    justify-content: center;
}

.content-center {
    width: 85%;
}

.contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
}

header {
    width: 100%;
    top: 5%;
    position: sticky;
    height: fit-content;
}
main {
    width: 100%;
    margin-top: 7%;
    overflow-y: auto;
}